<div class="side_content">
  
  <div class="side_header">
    <%= link_to current_user.name, edit_user_path(current_user), class: "side_header_username"  %>
    <div class="side_header_box">
      <a href="" class="side_header_chatlink">チャットを制作する</a>
    </div>
  </div>
  <div class="side_main">
    <div class="side_chatroom">
      <a href="">techroom1</a>
    </div>
    <div class="side_chatroom">
      <a href="">techroom2</a>
    </div>
      
  </div>
 
</div>
