<div class="side_content">
  
  <div class="side_header">
    <%= link_to current_user.name, edit_user_path(current_user), class: "side_header_username"  %>
    <div class="side_header_box">
      <%= link_to "チャットを制作する", new_room_path, class:"side_header_chatlink" %>
    </div>
  </div>
  <div class="side_main">
    <% current_user.rooms.each do |room| %>
      <div class="side_chatroom">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    <% end %>
      
  </div>
 
</div>

